// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center_content {
  font-family: 'Lora', serif;
  font-size: 36px;
  line-height: 1.3em;
  margin-bottom: 10px;
  font-weight: 300;
  color: #545454;
  width: 100%;
  float: left;
}
.heading {
  color: #040404;
  font-size: 42px;
  max-width: 200px;
  margin-left: 10px;
}
.left_heading {
  float: left;
  width: 50%;
}
.right_btn {
  float: right;
  width: 45%;
  margin-right: 60px;
  margin-top: 40px;
}
#get-another-quote-button {
  text-decoration: none;
  color: #212223;
  border: 3px solid #303435;
  border-radius: 5px;
  padding: 11px 6px;
  font-weight: bold;
  background: #fff;
  float: right;
}
#quote-content {
  max-width: 50%;
  margin: 0px auto;
}
.footer {
  text-align: center;
  margin-left: 90px;
}
#quote-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #df1616;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
#quote-source {
  width: 50%;
  float: right;
  line-height: 26px;
  font-size: 18px;
  color: #B5B5B5;
  font-weight: bold;
}
